.formContainer {
  border: black 2px solid;
  border-radius: 5px;
  width: 30%;
  padding: 10px;
  margin: 5vh auto;
}

.formItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buttonContainer {
  width: fit-content; 
  margin: 0 auto;
  margin-top: 15px;
  align-items: center;
}

@media screen and (max-width: 375px) and (max-height: 812px) {
  .formContainer {
    width: 70%;
  }
}