.App {
  text-align: center;
  display: flex;
}

.loaderContainer {
  /* border: 1px solid black; */
  min-width: fit-content;
  max-width: 30%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

main {
  height: 100%;
  width: 100%;
}

